:root {
  --bg: #ededed;
  --text: #000;
  --card: #f5f5f5;
  --accent: #ff7b00;
}

body.dark {
  --bg: #121212;
  --text: #fff;
  --card: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: all 0.4s ease;
}

/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 30px;
  z-index: 10;
}

.logo {
  font-size: 24px;
  color: var(--accent);
}
.logo span {
  color: var(--text);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  
}

nav ul li a {
  text-decoration: none;
  color: rgb(132, 131, 131);
  
  font-weight: 500;
  transition: 0.3s;
}
nav ul li a:hover {
  color: var(--accent);
}

.menu-toggle {
  display: none;
  font-size: 26px;
  color: var(--accent);
  cursor: pointer;
}


.mode-btn {
  background: var(--accent);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
}


/* Hero Section */
.hero {
  /* https://images.unsplash.com/photo-1504674900247-0877df9cc836 */
  background: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836") center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
  
}
.hero::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
}
.hero-text {
  position: relative;
  z-index: 1;
  max-width: 700px;
  color: #c3c2c2;
}
.hero h2 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  color: #c7c7c7;
}


.hero p {
  margin-bottom: 30px;
  font-size: 1.2rem;
}
.btn, .btn-outline {
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.btn {
  background: var(--accent);
  color: #fff;
  text-decoration: none;
}
.btn-outline {
  border: 2px solid var(--accent);
  color: var(--accent);
  text-decoration: none;
  margin-left: 10px;
}
.btn:hover, .btn-outline:hover {
  opacity: 0.9;
}

/* Section Styles */
.section {
  padding: 80px 30px;
}
.section-title {
  text-align: center;
  margin-bottom: 30px;
  color: var(--accent);
}
.card-container {
  display: flex;
  overflow-x: auto;
  gap: 40px;
  padding: 10px 0;
  justify-content: center;
  flex-wrap: wrap;
}

.card h4{
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.card {
  background: var(--card);
  border-radius: 12px;
  text-align: center;
  width: 200px;
  cursor: pointer;
  transition: transform 0.3s;
}
.book {
  padding: 8px 9px 8px 9px;
  margin: 16px;
  border-radius: 8px;
  border-color: #ff7b00;
}

.book:hover{
  background-color: #ff7b00;
   transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 180px;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}
.card:hover {
  transform: scale(1.05);
}
.card h3 {
  margin: 10px 0 5px;
}
.card p {
  margin-bottom: 10px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.modal-content {
  /* background:rgba(0,0,0,0); */
  backdrop-filter: blur(9px);
  color: var(--text);
  padding: 20px;
  border-radius: 50px;
  border: 2px solid #7a7878;
  text-align: center;
  width: 90%;
  max-width: 400px;
  color: #ffffff;
}
.modal-content input {
  width: 90%;
  padding: 12px;
  margin: 5px 0;
  border: 4px solid #ccc;
  border-radius: 50px;
}
#chef-notes,#maid-notes{
  border-radius: 5px;
  padding: 8px;
  margin: 7px;
  width: 300px;
  background-color: #d6d6d6;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

/* Footer */
footer {
  background: rgba(169, 169, 169, 0.1);
  text-align: center;
  padding: 15px;
  color: var(--text);
}
.social img{
  width: 24px;
  background: rgba(0, 0, 0, 0);
}




/* PAYMENT PAGE CSS */
.container {
    max-width: 500px;
    margin: 40px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
}

h2 {
    color: #ff7a00;
    margin-bottom: 10px;
}

.pay-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #ffe0c2;
    border-radius: 12px;
    padding: 12px 15px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.2s;
}

.pay-box:hover {
    background: #fff1e2;
    transform: scale(1.02);
}

.pay-box img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.qr-box {
    margin-top: 20px;
    padding: 20px;
    background: #fff0e1;
    border-radius: 15px;
    display: none;
}

.back{
    width: 100%;
    padding: 12px;
    background: #ff7a00;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 17px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.2s;
}

/* button:hover {
    background: #e86d00;
} */



/* Responsive */
@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    background: var(--card);
    position: absolute;
    right: 20px;
    top: 60px;
    padding: 10px;
    border-radius: 8px;
  }
  nav.active ul {
    display: flex;
  }
  .menu-toggle {
    display: block;
  }
}
